<div class="card shodow-lg mt-5">
  <div class="card-header text-center">
    <h1 class="display-6 fw-bold">To Do List</h1>
  </div>
  <div class="card-body p-4">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder=""
        [(ngModel)]="todoObj.todoItem"
      />
      <div class="">
        <input type="color" class="form-control" [(ngModel)]="todoObj.color" />
      </div>
      <button class="btn" (click)="onItemAdd()">add todo</button>
    </div>
    <div class="">
      <ul>
        <li
          *ngFor="let item of todoItemArray; let i = index"
          [style.background-color]="item.color"
          class="mt-4 d-flex justify-content-around"
        >
          <div class="">{{ item.todoItem }}</div>
          <div class="" style="cursor: pointer" (click)="deleteTodo(i)">
            <i class="fa fa-trash-o"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
